// ? ==========================================================================
// ? Variabless
// ? ==========================================================================


// ? Font Stacks
$font-url--google        : 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';
$font-family--primary    : 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary  : 'Helvetica Neue', Helvetica, Arial, sans-serif;

// ? Font Weights
$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--medium     : 400;
$font-weight--bold       : 700;
$font-weight--ultra-bold : 900;

// ? Descriptive Base Colors
$white       : #ffffff;
$black       : #0b0b0b;
$grey--light : #cdcdcd;
$grey        : #797e83;

$fountain-blue  : #51ddfc;
$emerald        : #62cc82;
$sunglo         : #e4757b;
$coral          : #ff774e;
$purple-majesty : #9278c3;
$scooter        : #39add1;
$viking         : #58e1c1;
$Yellow-Orange  : #ffae42;

// ? Color Usage
$color-primary   : $fountain-blue;
$color-secondary : $scooter;
$color-accent    : $Yellow-Orange;
$color-shadow    : rgba($black, .2);
$color-icons     : $white;

// ? UI Colors
$ui-colors: (default: $fountain-blue, success: $emerald, error: $sunglo, warning: $coral, info: $purple-majesty);

// ? Breakpoints
$brkpoint-sm    : 1px;
$brkpoint-md    : 768px;
$brkpoint-lg    : 1100px;
