doctype html
html(lang='en')
  head
    title Interactive Video Player
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='bower_components/normalize-css/normalize.css')
    link(rel='stylesheet', href='css/styles.css')
    include _favicon
  body
    header
    main
      video.mejs__player(controls="controls" preload="none")
        source(type="video/mp4" src="videos/video.mp4")
        source(type="video/webm" src="videos/video.webm")
        source(type="video/ogg" src="videos/video.ogv")
        track(src="videos/captions.vtt" kind="subtitles" srclang="en" label="English")
      p
        span Now that we've looked at the architecture of the internet, let's see how you might
        span connect your personal devices to the internet inside your house.
        span Well there are many ways to connect to the internet, and
        span most often people connect wirelessly.
      p
        span Let's look at an example of how you can connect to the internet.
        span If you live in a city or a town, you probably have a coaxial cable for
        span cable Internet, or a phone line if you have DSL, running to the outside of
        span your house, that connects you to the Internet Service Provider, or ISP.
        span If you live far out in the country, you'll more likely have
        span a dish outside your house, connecting you wirelessly to your closest ISP, or
        span you might also use the telephone system.
      P
        span Whether a wire comes straight from the ISP hookup outside your house, or
        span it travels over radio waves from your roof,
        span the first stop a wire will make once inside your house, is at your modem.
        span A modem is what connects the internet to your network at home.
        span A few common residential modems are DSL or

    footer
      //- jQuery
      script(src='bower_components/jquery/dist/jquery.js')
      //- mediaelement
      script(src='bower_components/mediaelement/build/mediaelement-and-player.min.js')
      link(rel="stylesheet" href="bower_components/mediaelement/build/mediaelementplayer.min.css")
      //- Custom 
      script(src='script.js') 