doctype html
html(lang='en')
  head
    title Interactive Video Player
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='styles/styles.css')
    include ./_favicon.pug
  body
    //- header
    main
      div.video-wrapper
        video#video1.mejs__player(preload="none" data-mejsoptions='{"stretching": "responsive", "alwaysShowControls": "true"}')
          source(type="video/mp4" src="videos/video.mp4")
          source(type="video/webm" src="videos/video.webm")
          source(type="video/ogg" src="videos/video.ogg")
          track(src="videos/captions.vtt" kind="subtitles" srclang="en" label="English")
      div.captions-text
        p.caption-p
          span.caption(value="0") Now that we've looked at the architecture of the internet,
          span.caption(value="2") let's see how you might connect your personal devices to the internet inside your house.
          span.caption(value="8") Well there are many ways to connect to the internet,
          span.caption(value="11") and most often people connect wirelessly.
        p.caption-p
          span.caption(value="14") Let's look at an example of how you can connect to the internet.
          span.caption(value="18") If you live in a city or a town, you probably have a coaxial cable for cable Internet,
          span.caption(value="24") or a phone line if you have DSL, running to the outside of your house,
          span.caption(value="28") that connects you to the Internet Service Provider, or ISP.
          span.caption(value="32") If you live far out in the country,
          span.caption(value="34") you'll more likely have a dish outside your house,
          span.caption(value="36") connecting you wirelessly to your closest ISP,
          span.caption(value="39") or you might also use the telephone system.
        P.caption-p
          span.caption(value="42") Whether a wire comes straight from the ISP hookup outside your house,
          span.caption(value="46") or it travels over radio waves from your roof,
          span.caption(value="49") the first stop a wire will make once inside your house, is at your modem.
          span.caption(value="54") A modem is what connects the internet to your network at home.
          span.caption(value="57") A few common residential modems are DSL or
    footer
      //- jQuery
      script(src='node_modules/jquery/dist/jquery.min.js')
      //- mediaelement.js
      script(src='node_modules/mediaelement/build/mediaelement-and-player.min.js')
      link(rel="stylesheet" href="node_modules/mediaelement/build/mediaelementplayer.min.css")
      //- Custom
      script(src='script.js')
